body {
    margin: 2em;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table {
    width: 100%;
}

tbody {
    background: #FFFFFF77;
}

h1, h2, h3, h4 {
    color: aliceblue;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

input {
    width: 100%;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 8px;
    height: 2em;
    font-size: 115%;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
