*

!.github
!.github/*
!.github/**/
!.github/**/*

!doc
!doc/*

!frontend
!frontend/*

!c
!c/*
!c/**
!c/**/*

!go
!go/*
!go/**
!go/**/*

!nodejs
!nodejs/*
!nodejs/**
!nodejs/**/*

!php
!php/*
!php/**
!php/**/*

!python
!python/*
!python/**
!python/**/*

!rust
!rust/*
!rust/**
!rust/**/*

!tests
!tests/*
!tests/**
!tests/**/*
